.header{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}
span.price {
    font-weight: bold;
    font-size: 35px;
    color: #FF033E;
}
span.price.sales {
    font-size: 25px;
    color: #777777;
    text-decoration: line-through;
}
p.details {
    font-weight: bold;
}
input[type="number"] {
    width: 80px;
    border-radius: 5px;
}
button.single_add_to_cart_button.button.alt {
    background-color: #438D02;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
}
button.add_to_cart_single {
    background-color: #438D02;
    width: 150px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    border: none;
    height: 35px;
}
p.content {
    font-weight: bold;
    font-size: 20px;
}